@media screen and (max-width:1600px) {}

@media screen and (max-width:1506px) {
	.cont_w {
		width: 100% !important;
	}
	#banner .b_title{
		width: 80%;
	margin: 0 auto;
	}
	#banner .b_lin{
		margin-right: 5%;
	}
	
}

@media screen and (max-width:1409px) {
	#banner .b_title {
		font-size: 37px !important;
		    margin-bottom: 23px !important;
	}
	#banner .b_cont {
		font-size: 52px !important;
	}
	#banner .b_textinner {
		width: 1129px !important;
	}
	#banner .b_lin {
		    margin-bottom: 51px !important;
	}
}
@media screen and (max-width:1367px){
    #banner .banner_inner {
		 -moz-transform: translate(-50%, -50%) scale(0.9) !important;
		  -webkit-transform:translate(-50%, -50%) scale(0.9) !important;  
		  -o-transform: translate(-50%, -50%) scale(0.9) !important; 
	}
	#banner .ifo{
	    font-size:38px !important;
	}
}
@media screen and (max-width:1345px) {
	.foot_nav_w {
		display: none !important;
	}
	.foot_swid {
		width: 50%;
	}
	.goup-container{
		display: none;
	}
	#content .news{
		width: 100% !important;
	}
	#content .news_s{
		width: 100% !important;
	}
	#content .wrap_r{
		display: none !important;
	}
}

@media screen and (max-width:1280px) {}

@media screen and (max-width:1200px) {}

@media screen and (max-width:1158px) {
	#banner .b_title {
		margin-bottom: 25px !important;
		font-size: 29.6px !important;
	}
	#banner .b_cont {
		font-size: 43.6px !important;
	}
	#banner .b_lin {
		margin-top: 6px !important;
		width: 153px !important;
		height: 8px !important;
		margin-bottom: 26px !important;
	}
	#banner .b_textinner {
		width: 864px !important;
	}
}

@media screen and (max-width:1024px) {
	footer {
		height: 100% !important;
	}
	footer>div {
		float: none;
	}
	.foot_swid {
		text-align: center;
	}
	.tips_w {
		margin-bottom: 50px;
		padding-bottom: 20px;
	}
}
@media  screen and (max-width: 900px) {
	#banner .b_title {
		margin-bottom: 18px !important;
		font-size: 23.6px !important;
	}
	#banner .b_cont {
		font-size: 34.6px !important;
	}
	#banner .b_lin {
		margin-top: 6px !important;
		width: 153px !important;
		height: 8px !important;
		margin-bottom: 26px !important;
	}
	#banner .b_textinner {
		width: 691px !important;
	}
	
	
	#banner{
	    width:100%;
	    height:auto !important;
	}
	#banner .banner_title{
	   bottom: 18px !important;
	}
	#banner .swiper-pagination{
	    bottom: 3px !important;
	}
	#banner .swiper-pagination-bullet{
	    width:6px !important;
	    height:6px !important;
	}
	.banner_x .swiper-pagination-bullet{
	    width:6px !important;
	    height:6px !important;
	}
	#content .team_w .t_cont p span{
	    font-size: 12px !important;
	}
	#content .team_w .t_cont{
        line-height: 17px !important;
    }
	.navbar {
	    height:auto !important;
	}
	#content .team_w{
	    padding: 20px 26px !important;
	    margin: 0px 8px 4px 0px !important;
	}
	#masonry .box1{
	    height:auto !important;
	}
	.foot .big{
	    display:none !important;
	}
	.foot .small{
	    width:100% !important;
	    display:block !important;
	    line-height:34px !important;
	}
	.foot .small p{
	    width:100% !important;
	   text-align:center;
	}
	
}
@media screen and (max-width:885px) {
	.nav>li>a {
		padding: 10px 6px;
	}
	.search_w {
		width: 153px !important;
	}
	.foot_swid {
		text-align: center;
		width: 100%;
	}
	.fot_w {
		overflow: hidden;
		margin: 0 auto;
		width: 368px;
	}
	.nav a:hover{
    border-bottom:none !important; 
    }
    .nav a{
        padding: 0 !important;
        padding-bottom: 0 !important;
        margin: 10px 15px !important;
    }
    .nav {
        margin-top: 0 !important;
    }
}

@media screen and (max-width:767px) {
	.dwidth {
		padding-top: 0px !important;
	}
	.search_w {
		width: 100% !important;
	}
	#banner .ifo {
		font-size: 38px !important;
	}
	#banner .swiper-pagination-current {
		font-size: 20px !important;
	}
	#banner .line {
		margin-top: 51px;
	}
	#banner .swiper-pagination-fraction {
		bottom: 50% !important;
	}
	#banner .bot_text {
		font-size: 20px !important;
	}
	#banner .icon_line {
		bottom: 98px !important;
	}
	#banner .bot_text {
		bottom: 38px !important;
	}
	#banner .swiper-button-next {
		display: none;
	}
	#banner .swiper-button-prev {
		display: none;
	}
}
@media  screen and (max-width: 718px) {
	#banner .b_title {
		margin-bottom: 13px !important;
		font-size:24px !important;
	}
	#banner .b_textinner .b_cont {
		text-align: center !important;
		font-size: 33px !important;
	}
	
	#banner .b_lin {
		    margin-top: 0px !important;
    width: 153px !important;
    height: 8px !important;
    margin-bottom: 20px !important;
	}
	#banner .b_textinner {
		width: 418px !important;
	}
	.ne_cont{
	    width:98% !important;
	}
	#content .ne_cont{
	    width:98% !important;
	}
	.d_tit{
	    margin-bottom:15px;
	}

	#content .other_ry .on span{
	    /*display:none !important;*/
	    /*background:rgba(0,0,0,0.1);*/
	}
		#content .other_ry .on span:nth-of-type(1){
	    /*display:inline-block !important;*/
	}
	#content .other_ry .on{
	    opacity: 1 !important;
	}
	#content .other_zp .ortr_mod{
	    background:transparent !important;
	}
	#content .other_ry .ortr_mod{
	    background:transparent !important;
	}
}
@media screen and (max-width:601px) {
	#banner .banner_inner {
		 -moz-transform: translate(-50%, -50%) scale(0.7) !important;
		  -webkit-transform:translate(-50%, -50%) scale(0.7) !important;  
		  -o-transform: translate(-50%, -50%) scale(0.7) !important; 
	}
	#banner .b_icon_b{
		bottom: -126px !important;
	}
	#banner .ifo {
		font-size: 42px !important;
	}
	#banner .bot_text {
		bottom: 0px !important;
		font-size: 22px !important;
	}
	#banner .icon_line {
		bottom: 86px !important;
	}
	#banner .swiper-pagination-fraction {
		bottom: 48% !important;
	}
	#banner .downs {
		bottom: -63px !important;
	}
	#banner .b_big{
		display: none;
	}
	#banner .swiper-container .swiper-slide .b_sml{
		display: block ;
	}
	#content .col-md-3 .ic{
	 position: absolute;
    top: 11%;
    right: 14%;
    font-weight: bold;
    font-size: 12px;
	}
	#banner .swiper-wrapper{
	    transform: translate3d(-357px, 0px, 0px) ;
	}
	#banner .banner_title {
	    font-size:14px !important;
	}
}

@media screen and (max-width:520px) {}

@media screen and (max-width:418px) {
	footer>div {
		line-height: 56px !important;
	}
	#scend .cont_w {
		padding-top: 22px;
	}
	#scend .cont_w li {
		margin-bottom: 7px !important;
		padding: 0 !important;
		padding-right: 5px !important;
	}
	
	#banner .b_icon_b{
		bottom: -150px !important;
	}
	#banner .ifo {
		font-size: 32px !important;
	}
	#banner .ifo:before{
		top: -7% !important;
	}
	#banner .ifo:after{
		top: -7% !important;
	}
	
}

@media screen and (max-width: 380px) {
	#banner .b_textinner {
		width: 356px !important;
	}
	
	#banner .b_title {
		margin-bottom: 23px !important;
		font-size:12px !important;
	}
	#banner .b_cont {
		text-align: center !important;
		font-size: 18px !important;
	}
	#banner .b_lin {
		    margin-top: 0px !important;
    width: 100px !important;
    height: 2px !important;
    margin-bottom: 20px !important;
	}
	.foot_swid{
		font-size: 12px !important;
	}
}

@media screen and (max-width: 340px) {
.nav_w	.logo{
    margin-left: 11px !important;
    margin-top: 26px !important;
	}
	#banner .b_textinner {
		width: 320px !important;
	}
	.logo{
	        width: 183px !important;
	}
}